In [1]:
import pandas as pd
import requests

In [11]:
def conv_to_pd(para1):
    df = pd.DataFrame(para1)
    
    df.head()
    return df

In [12]:
url = 'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords=tcs.bse&apikey=Y9DN79N2PBBK2X1O'
r = requests.get(url)
data = r.json()

In [13]:
conv_to_pd(data['bestMatches'])

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
0,TCS.BSE,Tata Consultancy Services Limited,Equity,India/Bombay,09:15,15:30,UTC+5.5,INR,1.0000

In [15]:
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=TCS.BSE&outputsize=full&apikey=Y9DN79N2PBBK2X1O'

r = requests.get(url)
data = r.json()

In [17]:
df = conv_to_pd(data['Time Series (Daily)'])
df.T

              1. open    2. high     3. low   4. close 5. volume
2024-09-11  4520.0000  4548.0000  4473.6001  4485.2500     21662
2024-09-10  4453.0000  4539.9502  4441.0000  4506.8999     68749
2024-09-09  4401.1001  4490.0000  4401.1001  4453.0000     39832
2024-09-06  4479.9502  4517.7998  4440.2500  4457.5000    197568
2024-09-05  4484.0000  4498.0000  4455.0000  4480.3501     26026
...               ...        ...        ...        ...       ...
2005-01-07   166.2500   168.0876   163.8876   167.4250   2627176
2005-01-06   165.8750   168.1250   161.5188   164.9876   3441640
2005-01-05   166.2500   167.2626   160.1250   165.6000   3669696
2005-01-04   168.8438   169.5000   166.7500   167.5438   1312656
2005-01-03   168.7250   169.7500   167.2814   169.1500   1185200

[4867 rows x 5 columns]

In [24]:
# Doesn't support BSE
url = 'https://www.alphavantage.co/query?function=EARNINGS&symbol=reliance&apikey=Y9DN79N2PBBK2X1O'
r = requests.get(url)
data = r.json()

In [25]:
print(r.text)

{}

In [26]:
#Earnings
ds = pd.DataFrame(data['annualEarnings'])

KeyError: 'annualEarnings'

In [ ]:
ds

In [ ]:
url = 'https://www.alphavantage.co/query?function=CASH_FLOW&symbol=TCS&apikey=Y9DN79N2PBBK2X1O'
r = requests.get(url)
data = r.json()

In [ ]:
# XX
#Cash Flow
conv_to_pd(data['annualReports'])

In [ ]:
url = 'https://www.alphavantage.co/query?function=BALANCE_SHEET&symbol=TCS&apikey=Y9DN79N2PBBK2X1O'
r = requests.get(url)
data = r.json()

In [ ]:
# XX
#Balance Sheet
conv_to_pd(data['annualReports'])

In [ ]:
url = 'https://www.alphavantage.co/query?function=DIVIDENDS&symbol=TCS.BSE&apikey=Y9DN79N2PBBK2X1O'
r = requests.get(url)
data = r.json()

In [ ]:
#Dividends
conv_to_pd(data['data'])

In [ ]:
#Splits
url = 'https://www.alphavantage.co/query?function=SPLITS&symbol=TCS&apikey=Y9DN79N2PBBK2X1O'
r = requests.get(url)
data = r.json()

print(data)

In [ ]:
url = 'https://www.alphavantage.co/query?function=INCOME_STATEMENT&symbol=TCS&apikey=Y9DN79N2PBBK2X1O'
r = requests.get(url)
data = r.json()

In [ ]:
#Income Statements
conv_to_pd(data['annualReports'])

In [ ]:
url = 'https://www.alphavantage.co/query?function=NEWS_SENTIMENT&tickers=AAPL&apikey=demo'
r = requests.get(url)
data = r.json()

In [ ]:
conv_to_pd(data['feed'])